body {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

h1 {
    font-size: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: blanchedalmond;
    text-align: center;
    padding: 30px 5px;
    width: 40%;
    margin: 0px;
    border: solid 2px;
}

#display {
    background-color: beige;
    width: 40%;
    border: solid 2px;
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 0px;
    padding: 10px;
    padding-top: 20px;
}

#input,
#result {
    padding: 5px;
    margin: 5px;
    height: 60px;
    width: auto;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#keypad {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    border: solid 2px;
    border-top: 0px;
    border-bottom: 0px;
    background-color: beige;
}

.col {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5px;
}

button {
    margin: 10px;
    height: 80px;
    width: 100px;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
}

.btn-raised {
    transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), transform .4s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26)
}

.btn-raised:not([disabled]):active,
.btn-raised:not([disabled]):focus,
.btn-raised:not([disabled]):hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);
    transform: translate3d(0, -1px, 0)
}

.shadow {
    overflow: hidden;
    position: relative;
    transform: translate3d(0, 0, 0)
}

.shadow:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1.5s
}

.shadow:active:before {
    transform: scale(0, 0);
    opacity: .1;
    transition: 0s
}
