<body>
    <h1>CALCULATOR</h1>
    <div id="display">
        <div class="col-sm-12 form-control text-lg-right" id="input" type="text">Input: {{input}}</div>
        <div class="form-control text-sm-right" id="result" type="text">Answer: <b>{{result}}</b></div>
    </div>
    <div id="keypad">
        <div class="col">
            <button class="btn btn-raised shadow my-button w-xs bg-white" (click)="allClear()">C</button>
            <button class="btn btn-raised shadow my-button w-xs bg-white" (click)="clear()"><img src="assets/backspaceIcon.png" alt=""></button>
            <button class="btn btn-raised shadow my-button w-xs bg-white" (click)="pressOperator('%')">%</button>
            <button class="btn btn-raised shadow my-button w-xs bg-white" (click)="pressOperator('/')">/</button>
        </div>
        <div class="col">
            <button class="btn btn-raised shadow my-button w-xs bg-white" (click)="pressNum('7')">7</button>
            <button class="btn btn-raised shadow my-button w-xs bg-white" (click)="pressNum('8')">8</button>
            <button class="btn btn-raised shadow my-button w-xs bg-white" (click)="pressNum('9')">9</button>
            <button class="btn btn-raised shadow my-button w-xs bg-white" (click)="pressOperator('*')">X</button>
        </div>
        <div class="col">
            <button class="btn btn-raised shadow my-button w-xs bg-white" (click)="pressNum('4')">4</button>
            <button class="btn btn-raised shadow my-button w-xs bg-white" (click)="pressNum('5')">5</button>
            <button class="btn btn-raised shadow my-button w-xs bg-white" (click)="pressNum('6')">6</button>
            <button class="btn btn-raised shadow my-button w-xs bg-white" (click)="pressOperator('-')">-</button>
        </div>
        <div class="col">
            <button class="btn btn-raised shadow my-button w-xs bg-white" (click)="pressNum('1')">1</button>
            <button class="btn btn-raised shadow my-button w-xs bg-white" (click)="pressNum('2')">2</button>
            <button class="btn btn-raised shadow my-button w-xs bg-white" (click)="pressNum('3')">3</button>
            <button class="btn btn-raised shadow my-button w-xs bg-white" (click)="pressOperator('+')">+</button>
        </div>
        <div class="col" style="border-bottom: solid 2px">
            <button class="btn btn-raised shadow my-button w-xs bg-white" disabled style="border: none;"></button>
            <button class="btn btn-raised shadow my-button w-xs bg-white" (click)="pressNum('0')">0</button>
            <button class="btn btn-raised shadow my-button w-xs bg-white" (click)="pressNum('.')">.</button>
            <button class="btn btn-raised shadow my-button w-xs bg-white" (click)="getAnswer()">=</button>
        </div>
    </div>

</body>
